In [2]:
import yfinance as yf
import matplotlib.pyplot as plt
import tensorflow as tf
import pandas as pd 
import numpy as np
import sklearn

In [4]:
tickers = ["^VIX", "SPY", "QQQ", "GOLD", "NQ=F","YM=F"]

In [5]:
ticker_data = yf.download(tickers, start = "2010-05-02", end = "2022-06-02")

[*********************100%***********************]  6 of 6 completed

In [6]:
ticker_data

            Adj Close                                                        \
                 GOLD      NQ=F         QQQ         SPY     YM=F       ^VIX
Date
2010-05-03  35.477711   2027.00   44.407021   95.142487  11102.0  20.190001
2010-05-04  35.552273   1969.50   43.072945   92.905235  10892.0  23.840000
2010-05-05  35.527420   1958.50   42.850582   92.351822  10834.0  24.910000
2010-05-06  36.190250   1886.00   41.418682   89.284515  10457.0  32.799999
2010-05-07  35.477711   1848.50   40.387009   87.956390  10335.0  40.950001
...               ...       ...         ...         ...      ...        ...
2022-05-25  21.050001  11942.25  290.701202  395.660858  32076.0  28.370001
2022-05-26  20.629999  12279.25  298.755707  403.566711  32600.0  27.500000
2022-05-27  20.600000  12677.75  308.506989  413.473907  33158.0  25.719999
2022-05-31  20.490000  12646.50  307.688538  411.153931  32971.0  26.190001
2022-06-01        NaN  12551.00         NaN         NaN  32798.0        NaN

                Close                                    ...        Open  \
                 GOLD      NQ=F         QQQ         SPY  ...         QQQ
Date                                                     ...
2010-05-03  42.820000   2027.00   49.930000  120.349998  ...   49.450001
2010-05-04  42.910000   1969.50   48.430000  117.519997  ...   49.320000
2010-05-05  42.880001   1958.50   48.180000  116.820000  ...   47.919998
2010-05-06  43.680000   1886.00   46.570000  112.940002  ...   47.849998
2010-05-07  42.820000   1848.50   45.410000  111.260002  ...   46.220001
...               ...       ...         ...         ...  ...         ...
2022-05-25  21.250000  11942.25  291.260010  397.369995  ...  285.709991
2022-05-26  20.629999  12279.25  299.329987  405.309998  ...  290.440002
2022-05-27  20.600000  12677.75  309.100006  415.260010  ...  302.540009
2022-05-31  20.490000  12646.50  308.279999  412.929993  ...  309.070007
2022-06-01        NaN  12551.00         NaN         NaN  ...         NaN

                                                Volume                         \
                   SPY     YM=F       ^VIX        GOLD      NQ=F          QQQ
Date
2010-05-03  119.379997  10972.0  22.410000   8114800.0  256440.0   74169700.0
2010-05-04  119.010002  11101.0  22.459999  13668600.0  515322.0  141136500.0
2010-05-05  116.559998  10892.0  25.959999  11408900.0  401892.0  128560200.0
2010-05-06  116.260002  10835.0  25.879999  22070900.0  736165.0  274356800.0
2010-05-07  112.639999  10463.0  32.759998  22665600.0  710793.0  288200400.0
...                ...      ...        ...         ...       ...          ...
2022-05-25  392.309998  31943.0  29.330000  17770700.0  671096.0   67144500.0
2022-05-26  398.670013  32074.0  28.420000  19674600.0  611884.0   59462200.0
2022-05-27  407.910004  32531.0  27.500000  13843600.0  615992.0   66985600.0
2022-05-31  413.549988  33201.0  27.469999  17817800.0  832388.0   60968300.0
2022-06-01         NaN  33067.0        NaN         NaN  682211.0          NaN


                    SPY      YM=F ^VIX
Date
2010-05-03  182747900.0  115450.0  0.0
2010-05-04  360353400.0  209462.0  0.0
2010-05-05  328973200.0  187645.0  0.0
2010-05-06  647356600.0  326371.0  0.0
2010-05-07  637558800.0  322300.0  0.0
...                 ...       ...  ...
2022-05-25   91472900.0  180970.0  0.0
2022-05-26   82168300.0  153646.0  0.0
2022-05-27   84768700.0  139299.0  0.0
2022-05-31   95937000.0  219698.0  0.0
2022-06-01          NaN  176385.0  NaN

[3044 rows x 36 columns]

In [8]:
# now we need to make the appropriate tranformations 
# initially we have:
ticker_data.columns

MultiIndex([('Adj Close', 'GOLD'),
            ('Adj Close', 'NQ=F'),
            ('Adj Close',  'QQQ'),
            ('Adj Close',  'SPY'),
            ('Adj Close', 'YM=F'),
            ('Adj Close', '^VIX'),
            (    'Close', 'GOLD'),
            (    'Close', 'NQ=F'),
            (    'Close',  'QQQ'),
            (    'Close',  'SPY'),
            (    'Close', 'YM=F'),
            (    'Close', '^VIX'),
            (     'High', 'GOLD'),
            (     'High', 'NQ=F'),
            (     'High',  'QQQ'),
            (     'High',  'SPY'),
            (     'High', 'YM=F'),
            (     'High', '^VIX'),
            (      'Low', 'GOLD'),
            (      'Low', 'NQ=F'),
            (      'Low',  'QQQ'),
            (      'Low',  'SPY'),
            (      'Low', 'YM=F'),
            (      'Low', '^VIX'),
            (     'Open', 'GOLD'),
            (     'Open', 'NQ=F'),
            (     'Open',  'QQQ'),
            (     'Open',  'SPY'),
            (     'Open', 'YM=F'),
            (     'Open', '^VIX'),
            (   'Volume', 'GOLD'),
            (   'Volume', 'NQ=F'),
            (   'Volume',  'QQQ'),
            (   'Volume',  'SPY'),
            (   'Volume', 'YM=F'),
            (   'Volume', '^VIX')],
           )

In [9]:
# now lets redefine ticker_data 
ticker_data.columns = ticker_data.columns.to_flat_index()

In [10]:
ticker_data.columns

Index([('Adj Close', 'GOLD'), ('Adj Close', 'NQ=F'),  ('Adj Close', 'QQQ'),
        ('Adj Close', 'SPY'), ('Adj Close', 'YM=F'), ('Adj Close', '^VIX'),
           ('Close', 'GOLD'),     ('Close', 'NQ=F'),      ('Close', 'QQQ'),
            ('Close', 'SPY'),     ('Close', 'YM=F'),     ('Close', '^VIX'),
            ('High', 'GOLD'),      ('High', 'NQ=F'),       ('High', 'QQQ'),
             ('High', 'SPY'),      ('High', 'YM=F'),      ('High', '^VIX'),
             ('Low', 'GOLD'),       ('Low', 'NQ=F'),        ('Low', 'QQQ'),
              ('Low', 'SPY'),       ('Low', 'YM=F'),       ('Low', '^VIX'),
            ('Open', 'GOLD'),      ('Open', 'NQ=F'),       ('Open', 'QQQ'),
             ('Open', 'SPY'),      ('Open', 'YM=F'),      ('Open', '^VIX'),
          ('Volume', 'GOLD'),    ('Volume', 'NQ=F'),     ('Volume', 'QQQ'),
           ('Volume', 'SPY'),    ('Volume', 'YM=F'),    ('Volume', '^VIX')],
      dtype='object')

# Data manipulation