In [3]:
import yfinance as yf
import pandas as pd 
import tensorflow as tf
import matplotlib.pyplot as plt 
import numpy as np
import sklearn

In [3]:
Apple = yf.download("AAPL", start = "2010-01-01", end ="2022-07-01" )
# creating a variable called apple and then downloading using yahoo finiance and

[*********************100%***********************]  1 of 1 completed

In [4]:
# printing out the data from the apple variable 
Apple

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2009-12-31,7.611786,7.619643,7.520000,7.526071,6.434926,352410800
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.535084,493729600
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.546384,601904800
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.442255,552160000
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.430344,477131200
...,...,...,...,...,...,...
2022-06-23,136.820007,138.589996,135.630005,138.270004,138.270004,72433800
2022-06-24,139.899994,141.910004,139.770004,141.660004,141.660004,89116800
2022-06-27,142.699997,143.490005,140.970001,141.660004,141.660004,70207900
2022-06-28,142.130005,143.419998,137.320007,137.440002,137.440002,67083400
2022-06-29,137.460007,140.669998,136.669998,139.229996,139.229996,66242400

In [4]:
#creating an array and then we are going to pass in the tickers that we want to downlaod 
# next we want to create a new variable that we want to pass the variabel tickers into and then downaload the tickers
ticker = ["SPY", "AAPL", "KO"]

In [5]:
stocks = yf.download(ticker, start = "2014-01-01", end ="2022-02-01" )
# donwloading all the 3 tickers 
stocks

[*********************100%***********************]  3 of 3 completed

             Adj Close                              Close             \
                  AAPL         KO         SPY        AAPL         KO
Date
2013-12-31   17.717829  31.471470  157.853622   20.036428  41.310001
2014-01-02   17.468655  30.976261  156.340851   19.754642  40.660000
2014-01-03   17.084938  30.823900  156.315155   19.320715  40.459999
2014-01-06   17.178101  30.679163  155.862213   19.426071  40.270000
2014-01-07   17.055250  30.770575  156.819427   19.287144  40.389999
...                ...        ...         ...         ...        ...
2022-01-24  161.177521  59.077671  436.591858  161.619995  59.959999
2022-01-25  159.342560  58.939732  431.261536  159.779999  59.820000
2022-01-26  159.252823  58.722969  430.179596  159.690002  59.599998
2022-01-27  158.784103  58.772236  428.055359  159.220001  59.650002
2022-01-28  169.863693  59.944721  438.686310  170.330002  60.840000

                              High                                Low  \
                   SPY        AAPL         KO         SPY        AAPL
Date
2013-12-31  184.690002   20.045713  41.389999  184.690002   19.785713
2014-01-02  182.919998   19.893929  41.230000  184.070007   19.715000
2014-01-03  182.889999   19.775000  40.730000  183.600006   19.301071
2014-01-06  182.360001   19.528570  40.590000  183.559998   19.057142
2014-01-07  183.479996   19.498571  40.720001  183.789993   19.211430
...                ...         ...        ...         ...         ...
2022-01-24  439.839996  162.300003  60.349998  440.380005  154.699997
2022-01-25  434.470001  162.759995  60.049999  439.720001  157.020004
2022-01-26  433.380005  164.389999  60.349998  444.040009  157.820007
2022-01-27  431.239990  163.839996  60.930000  441.589996  158.279999
2022-01-28  441.950012  170.350006  60.889999  442.000000  162.800003

                                         Open                         \
                   KO         SPY        AAPL         KO         SPY
Date
2013-12-31  40.980000  183.929993   19.791786  41.130001  184.070007
2014-01-02  40.509998  182.479996   19.845715  41.119999  183.979996
2014-01-03  40.349998  182.630005   19.745001  40.680000  183.229996
2014-01-06  40.160000  182.080002   19.194643  40.480000  183.490005
2014-01-07  40.290001  182.949997   19.440001  40.480000  183.089996
...               ...         ...         ...        ...         ...
2022-01-24  58.570000  420.760010  160.020004  59.900002  432.029999
2022-01-25  58.689999  427.149994  158.979996  59.360001  433.059998
2022-01-26  59.209999  428.859985  163.500000  59.790001  440.720001
2022-01-27  59.500000  429.450012  162.449997  59.880001  438.260010
2022-01-28  58.939999  427.820007  165.710007  59.389999  432.679993

               Volume
                 AAPL        KO        SPY
Date
2013-12-31  223084400  11729200   86119900
2014-01-02  234684800  12698600  119636900
2014-01-03  392467600  10403400   81390600
2014-01-06  412610800  11036300  108028200
2014-01-07  317209200  11872300   86144200
...               ...       ...        ...
2022-01-24  162294600  30185100  251783900
2022-01-25  115798400  19027100  167997300
2022-01-26  108275300  19190200  186391100
2022-01-27  121954600  18893800  149878300
2022-01-28  179935700  19101500  164457400

[2035 rows x 18 columns]

In [6]:
# we are able to use the head and tail functions to see the first 5 rows 
stocks.head()

            Adj Close                             Close             \
                 AAPL         KO         SPY       AAPL         KO
Date
2013-12-31  17.717829  31.471470  157.853622  20.036428  41.310001
2014-01-02  17.468655  30.976261  156.340851  19.754642  40.660000
2014-01-03  17.084938  30.823900  156.315155  19.320715  40.459999
2014-01-06  17.178101  30.679163  155.862213  19.426071  40.270000
2014-01-07  17.055250  30.770575  156.819427  19.287144  40.389999

                             High                               Low  \
                   SPY       AAPL         KO         SPY       AAPL
Date
2013-12-31  184.690002  20.045713  41.389999  184.690002  19.785713
2014-01-02  182.919998  19.893929  41.230000  184.070007  19.715000
2014-01-03  182.889999  19.775000  40.730000  183.600006  19.301071
2014-01-06  182.360001  19.528570  40.590000  183.559998  19.057142
2014-01-07  183.479996  19.498571  40.720001  183.789993  19.211430

                                        Open                         \
                   KO         SPY       AAPL         KO         SPY
Date
2013-12-31  40.980000  183.929993  19.791786  41.130001  184.070007
2014-01-02  40.509998  182.479996  19.845715  41.119999  183.979996
2014-01-03  40.349998  182.630005  19.745001  40.680000  183.229996
2014-01-06  40.160000  182.080002  19.194643  40.480000  183.490005
2014-01-07  40.290001  182.949997  19.440001  40.480000  183.089996

               Volume
                 AAPL        KO        SPY
Date
2013-12-31  223084400  11729200   86119900
2014-01-02  234684800  12698600  119636900
2014-01-03  392467600  10403400   81390600
2014-01-06  412610800  11036300  108028200
2014-01-07  317209200  11872300   86144200

In [7]:
# .tail() gives the last 5 columns 
stocks.tail()

             Adj Close                              Close             \
                  AAPL         KO         SPY        AAPL         KO
Date
2022-01-24  161.177521  59.077671  436.591858  161.619995  59.959999
2022-01-25  159.342560  58.939732  431.261536  159.779999  59.820000
2022-01-26  159.252823  58.722969  430.179596  159.690002  59.599998
2022-01-27  158.784103  58.772236  428.055359  159.220001  59.650002
2022-01-28  169.863693  59.944721  438.686310  170.330002  60.840000

                              High                                Low  \
                   SPY        AAPL         KO         SPY        AAPL
Date
2022-01-24  439.839996  162.300003  60.349998  440.380005  154.699997
2022-01-25  434.470001  162.759995  60.049999  439.720001  157.020004
2022-01-26  433.380005  164.389999  60.349998  444.040009  157.820007
2022-01-27  431.239990  163.839996  60.930000  441.589996  158.279999
2022-01-28  441.950012  170.350006  60.889999  442.000000  162.800003

                                         Open                         \
                   KO         SPY        AAPL         KO         SPY
Date
2022-01-24  58.570000  420.760010  160.020004  59.900002  432.029999
2022-01-25  58.689999  427.149994  158.979996  59.360001  433.059998
2022-01-26  59.209999  428.859985  163.500000  59.790001  440.720001
2022-01-27  59.500000  429.450012  162.449997  59.880001  438.260010
2022-01-28  58.939999  427.820007  165.710007  59.389999  432.679993

               Volume
                 AAPL        KO        SPY
Date
2022-01-24  162294600  30185100  251783900
2022-01-25  115798400  19027100  167997300
2022-01-26  108275300  19190200  186391100
2022-01-27  121954600  18893800  149878300
2022-01-28  179935700  19101500  164457400

In [8]:
# provides the data type and information about the tickers in the variable 
stocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2035 entries, 2013-12-31 to 2022-01-28
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  2035 non-null   float64
 1   (Adj Close, KO)    2035 non-null   float64
 2   (Adj Close, SPY)   2035 non-null   float64
 3   (Close, AAPL)      2035 non-null   float64
 4   (Close, KO)        2035 non-null   float64
 5   (Close, SPY)       2035 non-null   float64
 6   (High, AAPL)       2035 non-null   float64
 7   (High, KO)         2035 non-null   float64
 8   (High, SPY)        2035 non-null   float64
 9   (Low, AAPL)        2035 non-null   float64
 10  (Low, KO)          2035 non-null   float64
 11  (Low, SPY)         2035 non-null   float64
 12  (Open, AAPL)       2035 non-null   float64
 13  (Open, KO)         2035 non-null   float64
 14  (Open, SPY)        2035 non-null   float64
 15  (Volume, AAPL)     2035 non-null   int64
 16  (Volume, KO)       2035 non-null   int64
 17  (Volume, SPY)      2035 non-null   int64
dtypes: float64(15), int64(3)
memory usage: 302.1 KB

In [9]:
# we can use the .to_csv to convert the data into a csv file and save it 
stocks.to_csv("tickers.csv") # with the parameter being the name you want it save it as including the .csv ending

In [11]:
# now we are going to read a csv using pandas 
stocks= pd.read_csv("tickers.csv"); 
# this will import the csv file and set it equal to the variable stocks

In [12]:
stocks

,Unnamed: 0,Adj Close,Adj Close.1,Adj Close.2,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
0,NaN,AAPL,KO,SPY,AAPL,KO,SPY,AAPL,KO,SPY,AAPL,KO,SPY,AAPL,KO,SPY,AAPL,KO,SPY
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013-12-31,17.71782875061035,31.47146987915039,157.85362243652344,20.036428451538086,41.310001373291016,184.69000244140625,20.045713424682617,41.38999938964844,184.69000244140625,19.78571319580078,40.97999954223633,183.92999267578125,19.791786193847656,41.130001068115234,184.07000732421875,223084400,11729200,86119900
3,2014-01-02,17.46865463256836,30.976261138916016,156.34085083007812,19.754642486572266,40.65999984741211,182.9199981689453,19.89392852783203,41.22999954223633,184.07000732421875,19.71500015258789,40.5099983215332,182.47999572753906,19.845714569091797,41.119998931884766,183.97999572753906,234684800,12698600,119636900
4,2014-01-03,17.084938049316406,30.82390022277832,156.31515502929688,19.320714950561523,40.459999084472656,182.88999938964844,19.774999618530273,40.72999954223633,183.60000610351562,19.301071166992188,40.349998474121094,182.6300048828125,19.7450008392334,40.68000030517578,183.22999572753906,392467600,10403400,81390600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2032,2022-01-24,161.17752075195312,59.07767105102539,436.59185791015625,161.6199951171875,59.959999084472656,439.8399963378906,162.3000030517578,60.349998474121094,440.3800048828125,154.6999969482422,58.56999969482422,420.760009765625,160.02000427246094,59.900001525878906,432.0299987792969,162294600,30185100,251783900
2033,2022-01-25,159.34255981445312,58.93973159790039,431.26153564453125,159.77999877929688,59.81999969482422,434.4700012207031,162.75999450683594,60.04999923706055,439.7200012207031,157.02000427246094,58.689998626708984,427.1499938964844,158.97999572753906,59.36000061035156,433.05999755859375,115798400,19027100,167997300
2034,2022-01-26,159.25282287597656,58.72296905517578,430.1795959472656,159.69000244140625,59.599998474121094,433.3800048828125,164.38999938964844,60.349998474121094,444.0400085449219,157.82000732421875,59.209999084472656,428.8599853515625,163.5,59.790000915527344,440.7200012207031,108275300,19190200,186391100
2035,2022-01-27,158.7841033935547,58.77223587036133,428.05535888671875,159.22000122070312,59.650001525878906,431.239990234375,163.83999633789062,60.93000030517578,441.5899963378906,158.27999877929688,59.5,429.45001220703125,162.4499969482422,59.880001068115234,438.260009765625,121954600,18893800,149878300
2036,2022-01-28,169.8636932373047,59.94472122192383,438.6863098144531,170.3300018310547,60.84000015258789,441.95001220703125,170.35000610351562,60.88999938964844,442.0,162.8000030517578,58.939998626708984,427.82000732421875,165.7100067138672,59.38999938964844,432.67999267578125,179935700,19101500,164457400

Notice now, although there the information has been donwloaded we are going to have to alter the information so that the header is the 1st row

In [13]:
stocks = pd.read_csv("tickers.csv", header =[0,1] )
stocks

     Unnamed: 0_level_0   Adj Close                              Close  \
     Unnamed: 0_level_1        AAPL         KO         SPY        AAPL
0                  Date         NaN        NaN         NaN         NaN
1            2013-12-31   17.717829  31.471470  157.853622   20.036428
2            2014-01-02   17.468655  30.976261  156.340851   19.754642
3            2014-01-03   17.084938  30.823900  156.315155   19.320715
4            2014-01-06   17.178101  30.679163  155.862213   19.426071
...                 ...         ...        ...         ...         ...
2031         2022-01-24  161.177521  59.077671  436.591858  161.619995
2032         2022-01-25  159.342560  58.939732  431.261536  159.779999
2033         2022-01-26  159.252823  58.722969  430.179596  159.690002
2034         2022-01-27  158.784103  58.772236  428.055359  159.220001
2035         2022-01-28  169.863693  59.944721  438.686310  170.330002

                                   High                                Low  \
             KO         SPY        AAPL         KO         SPY        AAPL
0           NaN         NaN         NaN        NaN         NaN         NaN
1     41.310001  184.690002   20.045713  41.389999  184.690002   19.785713
2     40.660000  182.919998   19.893929  41.230000  184.070007   19.715000
3     40.459999  182.889999   19.775000  40.730000  183.600006   19.301071
4     40.270000  182.360001   19.528570  40.590000  183.559998   19.057142
...         ...         ...         ...        ...         ...         ...
2031  59.959999  439.839996  162.300003  60.349998  440.380005  154.699997
2032  59.820000  434.470001  162.759995  60.049999  439.720001  157.020004
2033  59.599998  433.380005  164.389999  60.349998  444.040009  157.820007
2034  59.650002  431.239990  163.839996  60.930000  441.589996  158.279999
2035  60.840000  441.950012  170.350006  60.889999  442.000000  162.800003

                                   Open                              Volume  \
             KO         SPY        AAPL         KO         SPY         AAPL
0           NaN         NaN         NaN        NaN         NaN          NaN
1     40.980000  183.929993   19.791786  41.130001  184.070007  223084400.0
2     40.509998  182.479996   19.845715  41.119999  183.979996  234684800.0
3     40.349998  182.630005   19.745001  40.680000  183.229996  392467600.0
4     40.160000  182.080002   19.194643  40.480000  183.490005  412610800.0
...         ...         ...         ...        ...         ...          ...
2031  58.570000  420.760010  160.020004  59.900002  432.029999  162294600.0
2032  58.689999  427.149994  158.979996  59.360001  433.059998  115798400.0
2033  59.209999  428.859985  163.500000  59.790001  440.720001  108275300.0
2034  59.500000  429.450012  162.449997  59.880001  438.260010  121954600.0
2035  58.939999  427.820007  165.710007  59.389999  432.679993  179935700.0


              KO          SPY
0            NaN          NaN
1     11729200.0   86119900.0
2     12698600.0  119636900.0
3     10403400.0   81390600.0
4     11036300.0  108028200.0
...          ...          ...
2031  30185100.0  251783900.0
2032  19027100.0  167997300.0
2033  19190200.0  186391100.0
2034  18893800.0  149878300.0
2035  19101500.0  164457400.0

[2036 rows x 19 columns]

In [14]:
stocks = pd.read_csv("tickers.csv", header =[0,1], index_col = [0] )
stocks

             Adj Close                              Close             \
                  AAPL         KO         SPY        AAPL         KO
Date
2013-12-31   17.717829  31.471470  157.853622   20.036428  41.310001
2014-01-02   17.468655  30.976261  156.340851   19.754642  40.660000
2014-01-03   17.084938  30.823900  156.315155   19.320715  40.459999
2014-01-06   17.178101  30.679163  155.862213   19.426071  40.270000
2014-01-07   17.055250  30.770575  156.819427   19.287144  40.389999
...                ...        ...         ...         ...        ...
2022-01-24  161.177521  59.077671  436.591858  161.619995  59.959999
2022-01-25  159.342560  58.939732  431.261536  159.779999  59.820000
2022-01-26  159.252823  58.722969  430.179596  159.690002  59.599998
2022-01-27  158.784103  58.772236  428.055359  159.220001  59.650002
2022-01-28  169.863693  59.944721  438.686310  170.330002  60.840000

                              High                                Low  \
                   SPY        AAPL         KO         SPY        AAPL
Date
2013-12-31  184.690002   20.045713  41.389999  184.690002   19.785713
2014-01-02  182.919998   19.893929  41.230000  184.070007   19.715000
2014-01-03  182.889999   19.775000  40.730000  183.600006   19.301071
2014-01-06  182.360001   19.528570  40.590000  183.559998   19.057142
2014-01-07  183.479996   19.498571  40.720001  183.789993   19.211430
...                ...         ...        ...         ...         ...
2022-01-24  439.839996  162.300003  60.349998  440.380005  154.699997
2022-01-25  434.470001  162.759995  60.049999  439.720001  157.020004
2022-01-26  433.380005  164.389999  60.349998  444.040009  157.820007
2022-01-27  431.239990  163.839996  60.930000  441.589996  158.279999
2022-01-28  441.950012  170.350006  60.889999  442.000000  162.800003

                                         Open                         \
                   KO         SPY        AAPL         KO         SPY
Date
2013-12-31  40.980000  183.929993   19.791786  41.130001  184.070007
2014-01-02  40.509998  182.479996   19.845715  41.119999  183.979996
2014-01-03  40.349998  182.630005   19.745001  40.680000  183.229996
2014-01-06  40.160000  182.080002   19.194643  40.480000  183.490005
2014-01-07  40.290001  182.949997   19.440001  40.480000  183.089996
...               ...         ...         ...        ...         ...
2022-01-24  58.570000  420.760010  160.020004  59.900002  432.029999
2022-01-25  58.689999  427.149994  158.979996  59.360001  433.059998
2022-01-26  59.209999  428.859985  163.500000  59.790001  440.720001
2022-01-27  59.500000  429.450012  162.449997  59.880001  438.260010
2022-01-28  58.939999  427.820007  165.710007  59.389999  432.679993

               Volume
                 AAPL        KO        SPY
Date
2013-12-31  223084400  11729200   86119900
2014-01-02  234684800  12698600  119636900
2014-01-03  392467600  10403400   81390600
2014-01-06  412610800  11036300  108028200
2014-01-07  317209200  11872300   86144200
...               ...       ...        ...
2022-01-24  162294600  30185100  251783900
2022-01-25  115798400  19027100  167997300
2022-01-26  108275300  19190200  186391100
2022-01-27  121954600  18893800  149878300
2022-01-28  179935700  19101500  164457400

[2035 rows x 18 columns]

In [16]:
stocks = pd.read_csv("tickers.csv", header =[0,1], index_col = [0], parse_dates =[0] )
stocks
# the parse dates parameter will form a list of date and times

             Adj Close                              Close             \
                  AAPL         KO         SPY        AAPL         KO
Date
2013-12-31   17.717829  31.471470  157.853622   20.036428  41.310001
2014-01-02   17.468655  30.976261  156.340851   19.754642  40.660000
2014-01-03   17.084938  30.823900  156.315155   19.320715  40.459999
2014-01-06   17.178101  30.679163  155.862213   19.426071  40.270000
2014-01-07   17.055250  30.770575  156.819427   19.287144  40.389999
...                ...        ...         ...         ...        ...
2022-01-24  161.177521  59.077671  436.591858  161.619995  59.959999
2022-01-25  159.342560  58.939732  431.261536  159.779999  59.820000
2022-01-26  159.252823  58.722969  430.179596  159.690002  59.599998
2022-01-27  158.784103  58.772236  428.055359  159.220001  59.650002
2022-01-28  169.863693  59.944721  438.686310  170.330002  60.840000

                              High                                Low  \
                   SPY        AAPL         KO         SPY        AAPL
Date
2013-12-31  184.690002   20.045713  41.389999  184.690002   19.785713
2014-01-02  182.919998   19.893929  41.230000  184.070007   19.715000
2014-01-03  182.889999   19.775000  40.730000  183.600006   19.301071
2014-01-06  182.360001   19.528570  40.590000  183.559998   19.057142
2014-01-07  183.479996   19.498571  40.720001  183.789993   19.211430
...                ...         ...        ...         ...         ...
2022-01-24  439.839996  162.300003  60.349998  440.380005  154.699997
2022-01-25  434.470001  162.759995  60.049999  439.720001  157.020004
2022-01-26  433.380005  164.389999  60.349998  444.040009  157.820007
2022-01-27  431.239990  163.839996  60.930000  441.589996  158.279999
2022-01-28  441.950012  170.350006  60.889999  442.000000  162.800003

                                         Open                         \
                   KO         SPY        AAPL         KO         SPY
Date
2013-12-31  40.980000  183.929993   19.791786  41.130001  184.070007
2014-01-02  40.509998  182.479996   19.845715  41.119999  183.979996
2014-01-03  40.349998  182.630005   19.745001  40.680000  183.229996
2014-01-06  40.160000  182.080002   19.194643  40.480000  183.490005
2014-01-07  40.290001  182.949997   19.440001  40.480000  183.089996
...               ...         ...         ...        ...         ...
2022-01-24  58.570000  420.760010  160.020004  59.900002  432.029999
2022-01-25  58.689999  427.149994  158.979996  59.360001  433.059998
2022-01-26  59.209999  428.859985  163.500000  59.790001  440.720001
2022-01-27  59.500000  429.450012  162.449997  59.880001  438.260010
2022-01-28  58.939999  427.820007  165.710007  59.389999  432.679993

               Volume
                 AAPL        KO        SPY
Date
2013-12-31  223084400  11729200   86119900
2014-01-02  234684800  12698600  119636900
2014-01-03  392467600  10403400   81390600
2014-01-06  412610800  11036300  108028200
2014-01-07  317209200  11872300   86144200
...               ...       ...        ...
2022-01-24  162294600  30185100  251783900
2022-01-25  115798400  19027100  167997300
2022-01-26  108275300  19190200  186391100
2022-01-27  121954600  18893800  149878300
2022-01-28  179935700  19101500  164457400

[2035 rows x 18 columns]