In [2]:
import yfinance as yf
import pandas as pd 
import tensorflow as tf
import matplotlib.pyplot as plt 
import numpy as np
import sklearn

In [3]:
Apple = yf.download("AAPL", start = "2010-01-01", end ="2022-07-01" )
# creating a variable called apple and then downloading using yahoo finiance and

[*********************100%***********************]  1 of 1 completed

In [4]:
# printing out the data from the apple variable 
Apple

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2009-12-31,7.611786,7.619643,7.520000,7.526071,6.434926,352410800
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.535084,493729600
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.546384,601904800
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.442255,552160000
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.430344,477131200
...,...,...,...,...,...,...
2022-06-23,136.820007,138.589996,135.630005,138.270004,138.270004,72433800
2022-06-24,139.899994,141.910004,139.770004,141.660004,141.660004,89116800
2022-06-27,142.699997,143.490005,140.970001,141.660004,141.660004,70207900
2022-06-28,142.130005,143.419998,137.320007,137.440002,137.440002,67083400
2022-06-29,137.460007,140.669998,136.669998,139.229996,139.229996,66242400

In [17]:
#creating an array and then we are going to pass in the tickers that we want to downlaod 
# next we want to create a new variable that we want to pass the variabel tickers into and then downaload the tickers
ticker = ["SPY", "AAPL", "KO"]

In [21]:
stocks = yf.download(ticker, start = "2014-01-01", end ="2022-02-01" )
# donwloading all the 3 tickers 
stocks

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2013-12-31,19.791786,20.045713,19.785713,20.036428,17.717833,223084400
2014-01-02,19.845715,19.893929,19.715000,19.754642,17.468653,234684800
2014-01-03,19.745001,19.775000,19.301071,19.320715,17.084936,392467600
2014-01-06,19.194643,19.528570,19.057142,19.426071,17.178104,412610800
2014-01-07,19.440001,19.498571,19.211430,19.287144,17.055254,317209200
...,...,...,...,...,...,...
2022-01-24,160.020004,162.300003,154.699997,161.619995,161.177521,162294600
2022-01-25,158.979996,162.759995,157.020004,159.779999,159.342575,115798400
2022-01-26,163.500000,164.389999,157.820007,159.690002,159.252823,108275300
2022-01-27,162.449997,163.839996,158.279999,159.220001,158.784119,121954600
2022-01-28,165.710007,170.350006,162.800003,170.330002,169.863693,179935700