In [2]:
import yfinance as yf 
import tensorflow as tf
import sklearn 
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [3]:
Apple = yf.download("AAPL", start = "2010-01-01", end ="2022-07-01" )
# creating a variable called apple and then downloading using yahoo finiance 
Apple

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2009-12-31,7.611786,7.619643,7.520000,7.526071,6.434926,352410800
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.535083,493729600
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.546384,601904800
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.442255,552160000
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.430346,477131200
...,...,...,...,...,...,...
2022-06-23,136.820007,138.589996,135.630005,138.270004,138.270004,72433800
2022-06-24,139.899994,141.910004,139.770004,141.660004,141.660004,89116800
2022-06-27,142.699997,143.490005,140.970001,141.660004,141.660004,70207900
2022-06-28,142.130005,143.419998,137.320007,137.440002,137.440002,67083400
2022-06-29,137.460007,140.669998,136.669998,139.229996,139.229996,66242400

## Organising the data 
- the data needs to be organised so we are able to process it using tensorflow 
- we need take in the 4 columns and then create a tensor

In [ ]:
#first we need to use sklearn o transform the data 
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
# now lets create a column transformaer to transform the column 
ct = make_column_transformer(
    (MinMaxScaler(), ["Open", "High", "Low", "Close"]), 
    (OneHotEncoder(handle_unknown = "ignore"), ["Adj Close", "Volume"]) # here it is going to one hit encode the values 
    ) # takes in StandardScalar or MinMaxScalar and OneHotEncoder 
# we want to tunr all the values in these columns into vlause betwen 0 and on ebecasue they are numerical vlaes, they are not objects of
X = variables.drop("Adj Close" , axis = 1)
y = variables["charges"]
# now we want to the model to learn the data and need to split data 
X_train,X_test, y_train, y_test =train_test_split(X,y, test_size = 0.2, random_state = 42)
# fitting the column transformer to our training data 
ct.fit(X_train) 
# transform training and test data with automatic with normalization from the training data 
X_train_normal = ct.transform(X_train)
X_test_normal = ct.transform(X_test)

# Developing Strat:
we want to create a parameter where we are able to see a large change(price swing) use the condiitons before and analyse the data for patterns whcih may give rise to a signal

In [ ]:
tf.random.set_seed(42)

model_4 = tf.keras.Sequential([
    tf.keras.layers.Dense(4, activation = "relu"),
    tf.keras.layers.Dense(4, activation = "relu"), 
    tf.keras.layers.Dense(1)
   
])
model_4.compile(loss = "binary_crossentropy", # dependent on the problem type 
                optimizer = tf.keras.optimizers.Adam(lr = 0.001),
                metrics = ["accuracy"])

with tf.device('/cpu:0'): history = model_4.fit(X, y, epochs=100)